#app
{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.gifThumbnails
{
    padding: 1em;
}

h1
{
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
}

#searchArea
{
    margin-left: auto;
    margin-right: auto;
    width: 340px;
}

button
{
    width: 80px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    font-size: 1em;
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    transition-duration: 0.4s;
    height: 32px;
}

button:hover {
    background-color: #ddd;
    border: 2px solid #ddd;
    color: #4CAF50;
    font-weight: bold;
}

body
{
    background-color: #1D1E22;
}

#searchParameter {
    border-bottom: grey 2px solid;
    background-color: transparent;
    height: 30px;
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;
    padding-left: 3px;
    color: #ddd;
    font-size: 15px;
}